
 
 <hr/>
     <h2>Hello,  <%= session[:id].first_name%>!</h2>

 <hr/>
<div class="jumbotron jumbotron-fluid">
  <div class="container profile">
    <img src="assets/img/me.jpg" class="avatar avatar-md" alt="pat">
    <h5>About  <%= session[:id].first_name%></h5>
    <p class="lead"><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.</em></p>
  


  <div>
    WELCOME TO YOUR PROFILE
    </div>
    <br>
    <div>
    <div>
      NAME:
    </div>
    <div>
      <%= session[:id].first_name%>
      <%= session[:id].last_name%>
    </div>
    </div>
    <div>
    <div>
      USERNAME:
    </div>
    <div>
      <%= session[:id].username%>
    </div>
  </div>
  <div>
    <div>
     BIRTHDAY:  
    </div>
    <div>
  <%= session[:id].birthday%>
    </div>
 
   
 
  <div>
    <div>
      EMAIL:
    </div>
    <div>
      <%= session[:id].email%><br>
    </div>
  </div>
<form method="POST" action="/delete">
    <a href="/delete">
     <button>DELETE ACCOUNT</button>
    </a>
 
  
  </div>
  
  </div>


